{% block content %}

    <h1>로그인</h1>
    <form method="post" action="{% url 't4s:login' %}">
        {% csrf_token %}
        <div>
            <label>사용자 ID</label>
            <input type="text" name="username" id="username">
        </div>
        <div>
            <label>비밀번호</label>
            <input type="password" name="password" id="password">
        </div>
        간격: <div id="output"></div>
        <script>
            const output = document.getElementById('output');
            const password = document.getElementById('password');
            let last;
            let data = new Array(); //키 간격 데이터 배열
            let i = 0; //for문의 i

            password.addEventListener("input", () => {
                let n = new Date();
                output.textContent = (last-n).toString() + 'ms';
                data[i] = last-n;
                i++;
                last = n;
            });

        </script>
        <button type="submit">로그인</button>
    </form>

{% endblock %}